In [82]:
import numpy as np  
import pandas as pd 
#for graphical analysis,see the earlier files

In [83]:
df=pd.read_csv('out.csv')

In [84]:
df.head()

   Unnamed: 0  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0           0         0       3  22.0      1      0   7.2500     1  0  1
1           1         1       1  38.0      1      0  71.2833     0  0  0
2           2         1       3  26.0      0      0   7.9250     0  0  1
3           3         1       1  35.0      1      0  53.1000     0  0  1
4           4         0       3  35.0      0      0   8.0500     1  0  1

In [85]:
df=df.drop('Unnamed: 0',axis=1)

In [86]:
df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1

In [87]:
df=df.dropna()

In [88]:
X=df.drop('Survived',axis=1)

In [89]:
Y=df['Survived']

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,train_size=0.7,random_state=42)

In [92]:
X_train.shape,X_test.shape

((499, 8), (215, 8))

In [93]:
from sklearn.svm import SVC

In [94]:
logmodel=SVC()

In [95]:
logmodel.fit(X_train,y_train)

SVC()

In [96]:
prediction=logmodel.predict(X_test)

In [97]:
from sklearn.metrics import classification_report

In [98]:
print(classification_report(prediction,y_test))

              precision    recall  f1-score   support

           0       0.90      0.66      0.76       173
           1       0.34      0.71      0.46        42

    accuracy                           0.67       215
   macro avg       0.62      0.69      0.61       215
weighted avg       0.79      0.67      0.70       215

In [99]:
from sklearn.model_selection import  GridSearchCV

In [100]:
grid_params={'C':[100,1000,10000],'gamma':[0.1,0.001,0.0001,0.00001]}

In [101]:
grid=GridSearchCV(SVC(tol=0.00001),grid_params,verbose=3,cv=7)

In [102]:
grid.fit(X_train,y_train)

Fitting 7 folds for each of 12 candidates, totalling 84 fits
[CV 1/7] END ..................C=100, gamma=0.1;, score=0.694 total time=   0.0s
[CV 2/7] END ..................C=100, gamma=0.1;, score=0.653 total time=   0.0s
[CV 3/7] END ..................C=100, gamma=0.1;, score=0.676 total time=   0.0s
[CV 4/7] END ..................C=100, gamma=0.1;, score=0.789 total time=   0.0s
[CV 5/7] END ..................C=100, gamma=0.1;, score=0.690 total time=   0.0s
[CV 6/7] END ..................C=100, gamma=0.1;, score=0.634 total time=   0.0s
[CV 7/7] END ..................C=100, gamma=0.1;, score=0.606 total time=   0.0s
[CV 1/7] END ................C=100, gamma=0.001;, score=0.750 total time=   0.0s
[CV 2/7] END ................C=100, gamma=0.001;, score=0.806 total time=   0.0s
[CV 3/7] END ................C=100, gamma=0.001;, score=0.761 total time=   0.0s
[CV 4/7] END ................C=100, gamma=0.001;, score=0.873 total time=   0.0s
[CV 5/7] END ................C=100, gamma=0.001;, score=0.803 total time=   0.0s
[CV 6/7] END ................C=100, gamma=0.001;, score=0.718 total time=   0.0s
[CV 7/7] END ................C=100, gamma=0.001;, score=0.803 total time=   0.0s
[CV 1/7] END ...............C=100, gamma=0.0001;, score=0.736 total time=   0.0s
[CV 2/7] END ...............C=100, gamma=0.0001;, score=0.792 total time=   0.0s
[CV 3/7] END ...............C=100, gamma=0.0001;, score=0.746 total time=   0.0s
[CV 4/7] END ...............C=100, gamma=0.0001;, score=0.803 total time=   0.0s
[CV 5/7] END ...............C=100, gamma=0.0001;, score=0.775 total time=   0.0s
[CV 6/7] END ...............C=100, gamma=0.0001;, score=0.690 total time=   0.0s
[CV 7/7] END ...............C=100, gamma=0.0001;, score=0.775 total time=   0.0s
[CV 1/7] END ................C=100, gamma=1e-05;, score=0.694 total time=   0.0s
[CV 2/7] END ................C=100, gamma=1e-05;, score=0.708 total time=   0.0s
[CV 3/7] END ................C=100, gamma=1e-05;, score=0.690 total time=   0.0s
[CV 4/7] END ................C=100, gamma=1e-05;, score=0.690 total time=   0.0s
[CV 5/7] END ................C=100, gamma=1e-05;, score=0.718 total time=   0.0s
[CV 6/7] END ................C=100, gamma=1e-05;, score=0.606 total time=   0.0s
[CV 7/7] END ................C=100, gamma=1e-05;, score=0.718 total time=   0.0s
[CV 1/7] END .................C=1000, gamma=0.1;, score=0.694 total time=   0.0s
[CV 2/7] END .................C=1000, gamma=0.1;, score=0.639 total time=   0.0s
[CV 3/7] END .................C=1000, gamma=0.1;, score=0.662 total time=   0.2s
[CV 4/7] END .................C=1000, gamma=0.1;, score=0.746 total time=   0.1s
[CV 5/7] END .................C=1000, gamma=0.1;, score=0.704 total time=   0.1s
[CV 6/7] END .................C=1000, gamma=0.1;, score=0.648 total time=   0.0s
[CV 7/7] END .................C=1000, gamma=0.1;, score=0.592 total time=   0.0s
[CV 1/7] END ...............C=1000, gamma=0.001;, score=0.750 total time=   0.4s
[CV 2/7] END ...............C=1000, gamma=0.001;, score=0.847 total time=   0.2s
[CV 3/7] END ...............C=1000, gamma=0.001;, score=0.732 total time=   0.2s
[CV 4/7] END ...............C=1000, gamma=0.001;, score=0.873 total time=   0.2s
[CV 5/7] END ...............C=1000, gamma=0.001;, score=0.775 total time=   0.2s
[CV 6/7] END ...............C=1000, gamma=0.001;, score=0.746 total time=   0.1s
[CV 7/7] END ...............C=1000, gamma=0.001;, score=0.831 total time=   0.2s
[CV 1/7] END ..............C=1000, gamma=0.0001;, score=0.722 total time=   0.0s
[CV 2/7] END ..............C=1000, gamma=0.0001;, score=0.792 total time=   0.0s
[CV 3/7] END ..............C=1000, gamma=0.0001;, score=0.746 total time=   0.0s
[CV 4/7] END ..............C=1000, gamma=0.0001;, score=0.859 total time=   0.0s
[CV 5/7] END ..............C=1000, gamma=0.0001;, score=0.859 total time=   0.1s
[CV 6/7] END ..............C=1000, gamma=0.0001;, score=0.718 total time=   0.0s
[CV 7/7] END ..............C=1000, gamma=0.0001;, score=0.803 total time=   0.0s
[CV 1/7] END ...............C=1000, gamma=1e-05;, score=0.708 total time=   0.0s
[CV 2/7] END ...............C=1000, gamma=1e-05;, score=0.792 total time=   0.0s
[CV 3/7] END ...............C=1000, gamma=1e-05;, score=0.775 total time=   0.0s
[CV 4/7] END ...............C=1000, gamma=1e-05;, score=0.789 total time=   0.0s
[CV 5/7] END ...............C=1000, gamma=1e-05;, score=0.803 total time=   0.0s
[CV 6/7] END ...............C=1000, gamma=1e-05;, score=0.718 total time=   0.0s
[CV 7/7] END ...............C=1000, gamma=1e-05;, score=0.789 total time=   0.0s
[CV 1/7] END ................C=10000, gamma=0.1;, score=0.667 total time=   0.0s
[CV 2/7] END ................C=10000, gamma=0.1;, score=0.625 total time=   0.0s
[CV 3/7] END ................C=10000, gamma=0.1;, score=0.704 total time=   0.3s
[CV 4/7] END ................C=10000, gamma=0.1;, score=0.732 total time=   0.9s
[CV 5/7] END ................C=10000, gamma=0.1;, score=0.718 total time=   0.4s
[CV 6/7] END ................C=10000, gamma=0.1;, score=0.676 total time=   0.0s
[CV 7/7] END ................C=10000, gamma=0.1;, score=0.592 total time=   0.0s
[CV 1/7] END ..............C=10000, gamma=0.001;, score=0.764 total time=   2.1s
[CV 2/7] END ..............C=10000, gamma=0.001;, score=0.792 total time=   4.6s
[CV 3/7] END ..............C=10000, gamma=0.001;, score=0.775 total time=   3.2s
[CV 4/7] END ..............C=10000, gamma=0.001;, score=0.887 total time=   2.3s
[CV 5/7] END ..............C=10000, gamma=0.001;, score=0.761 total time=   1.9s
[CV 6/7] END ..............C=10000, gamma=0.001;, score=0.746 total time=   2.3s
[CV 7/7] END ..............C=10000, gamma=0.001;, score=0.775 total time=   2.5s
[CV 1/7] END .............C=10000, gamma=0.0001;, score=0.736 total time=   1.8s
[CV 2/7] END .............C=10000, gamma=0.0001;, score=0.806 total time=   1.0s
[CV 3/7] END .............C=10000, gamma=0.0001;, score=0.789 total time=   0.7s
[CV 4/7] END .............C=10000, gamma=0.0001;, score=0.859 total time=   1.2s
[CV 5/7] END .............C=10000, gamma=0.0001;, score=0.859 total time=   0.4s
[CV 6/7] END .............C=10000, gamma=0.0001;, score=0.704 total time=   0.4s
[CV 7/7] END .............C=10000, gamma=0.0001;, score=0.803 total time=   0.5s
[CV 1/7] END ..............C=10000, gamma=1e-05;, score=0.750 total time=   0.0s
[CV 2/7] END ..............C=10000, gamma=1e-05;, score=0.819 total time=   0.0s
[CV 3/7] END ..............C=10000, gamma=1e-05;, score=0.746 total time=   0.2s
[CV 4/7] END ..............C=10000, gamma=1e-05;, score=0.831 total time=   0.3s
[CV 5/7] END ..............C=10000, gamma=1e-05;, score=0.859 total time=   0.2s
[CV 6/7] END ..............C=10000, gamma=1e-05;, score=0.775 total time=   0.1s
[CV 7/7] END ..............C=10000, gamma=1e-05;, score=0.775 total time=   0.1s

GridSearchCV(cv=7, estimator=SVC(tol=1e-05),
             param_grid={'C': [100, 1000, 10000],
                         'gamma': [0.1, 0.001, 0.0001, 1e-05]},
             verbose=3)

In [103]:
grid.best_estimator_

SVC(C=10000, gamma=0.0001, tol=1e-05)

In [104]:
grid_predictions=grid.predict(X_test)

In [105]:
print(classification_report(grid_predictions,y_test))

              precision    recall  f1-score   support

           0       0.86      0.81      0.83       133
           1       0.72      0.78      0.75        82

    accuracy                           0.80       215
   macro avg       0.79      0.80      0.79       215
weighted avg       0.80      0.80      0.80       215

In [106]:
#80% accuracy